<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
	RewriteCond %{REQUEST_URI} !^(/index\.php|/resources/images|/resources/js|/resources/css|/resources/fonts)
	RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule> 


<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType image/* "access plus 1 month"
</IfModule>
